<%- include('partials/header') %>



      <div class="screen">
          <h1>Track your progress!</h1>
          <a href="/register" class="button1">
            Register
          </a>
          <a href="/login" class="button2">
            Login
          </a>
      </div>






<%- include('partials/footer') %>
