<%- include('partials/header') %>


      <div class="screen">
          <h1>Get back on track!</h1>
          <form action="/login" method="POST">
              <input type="email" class="button1" name="username" placeholder="Email" autocomplete="off">


              <input type="password" class="button2" name="password" placeholder="Password" autocomplete="off">
            <button type="submit" class="button3">Login</button>
          </form>
      </div>




<%- include('partials/footer') %>
