<%- include('partials/header') %>

<!-- <div class="container">
  <div class="phone"> -->
      <div class="screen">
          <h1>Register to start!</h1>
          <form action="/register" method="POST">
              <input type="email" class="button1" name="username" placeholder="Email" autocomplete="off">


              <input type="password" class="button2" name="password" placeholder="Password" autocomplete="off">
            <button type="submit" class="button3">Register</button>
          </form>
      </div>
  <!-- </div>
  <div class="background-circle"></div>
</div> -->


<%- include('partials/header') %>
